{
	"version": 3,
	"configurePresets": [
		{
			"name": "ALL-WITH-AUTO-DEPLOYMENT",
			"binaryDir": "${sourceDir}/build/ALL",
			"cacheVariables": {
				"AUTO_PLUGIN_DEPLOYMENT": "ON"
			},
			"environment": {
				"PIXLRendererOutputDir": "$env{PIXL_RENDERER_OUTPUT_DIR}"
			},
			"inherits": "ALL"
		}
	]
}
